body,
.header,
.top,
.logo,
.header-links,
.hero,
.hero-action,
.hero-title,
.intro,
button,
img,
.body,
.information,
.information-header,
.information-container,
.info-box,
.text,
.quote-container,
.quote,
.quote-source,
.action-block,
.action-container,
.action-text,
.action-call,
.instruction,
footer {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-action {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-container {
    display: flex;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
}

